
<form action="" class="my-5">
    <div class="form-group">
        <input type="text" class="form-control" #prodValue
        [value]="pobj ? pobj.prodName : ''"
        [disabled]="!canEditProduct"
        >
    </div>
    <div class="form-group">
        <select name="" id="" class="form-control"
        [value]="pobj ? pobj.ProdStatus : ''" 
         #prodStatus
         [disabled]="!canEditProduct"
        >
            <option value="">Select</option>
            <option value="InProcess">InProcess</option>
            <option value="Dispatched">Dispatched</option>
            <option value="Delivered">Delivered</option>
        </select>
    </div>
    <div class="text-center">
        <button class="btn btn-success" *ngIf="pid ; else noProduct"
        (click)="onUpdateProduct(prodValue.value,prodStatus)"
        [disabled]="!canEditProduct"
        >Update Details</button>


      <ng-template #noProduct>
        <button class="btn btn-primary"
        (click)="onAddProduct(prodValue,prodStatus)"
        >Add Product</button>
      </ng-template>
    </div>
</form>