

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group my-5 text-center">
                <li class="list-group-item" *ngFor="let u of usersInfo; let firstUser=first"
                [routerLink]="['/users', u.userId]"
                [queryParams]="{canEditUser : u.editStatus}"
                (click)="isSelected = u.userId"
                [ngClass]="
                {
                    'active' : isSelected === u.userId || firstUser && !isSelected
                }"
                >
                    {{u.userName}}
                </li>
            </ul>
            <div class="text-center">
                <button class="btn btn-primary"
                [routerLink]="['/users','addNewUser']"
                >Add User</button>
            </div>
        </div>

        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
